
/*--------------------------------hovers--------------------------------*/

@media screen and (min-width:1025px){

    .subMenu ul li a:hover,
    .subMenu ul li a:focus,
    #nav .navbar-nav > li > a:hover,
    #nav .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #4ba82e;
        text-decoration: none;
    }
    .custom-button:hover {color: #000; border: transparent;}
    .custom-button:hover i svg {fill: #000}
    .custom-form .checks label:hover .carItem {
        border-color: #4ba82e;
        -webkit-box-shadow: 0 0 0 3px #4aa82e inset;
        -moz-box-shadow: 0 0 0 3px #4aa82e inset;
        box-shadow: 0 0 0 3px #4aa82e inset;
    }
    .custom-form .checks label:hover .caption {background-color: #4ba82e;}
    .custom-form .checks label:hover .carItem .caption_title {color: #fff;}
    .custom-form .checks label:hover .carItem .custom-check i:after {background-color: #cbced1;}
    .oneItem .item_wrap:hover {border-color: #4aa82d}
    .sorting .sort_box ul li:hover {background-color: #f5f5f5}
}

/*--------------------------------media--------------------------------*/

@media screen and (max-width:1200px){

    #nav .navbar-nav > li > a {font-size: 18px}
    .subMenu ul {padding: 15px 30px;}
    .subMenu ul li a {font-size: 17px}
    .section h1 {font-size: 35px}
    .custom-button {font-size: 16px}
    .section p {font-size: 14px}

    .section h3 { font-size: 16px !important; margin-bottom: 10px !important; }
    .section dt, .section dd { font-size: 14px !important; }

    .custom-form h3 {font-size: 17px}
    .custom-form .bootstrap-select > .dropdown-toggle, input[type="text"], input[type="email"]
    .input-style,
    .custom-form .input-fields .title span {
        height: 55px;
        font-size: 15px;
    }
    .custom-form .input-fields .asterisk span::before {line-height: 55px}
    .custom-form .dropdown-toggle .bs-caret {width: 55px}
    .custom-form .checks .carItem .caption_title {font-size: 14px}
    .footerContent ul li {display: block}
    .footerContent .footer-nav {margin-top: 28px}
    .footerContent .copyright {margin-top: 39px}
    .oneItem .item_wrap .contact_info,
    .oneItem .item_wrap h4 {padding: 20px}
    .oneItem .item_wrap .contacts header {padding: 0 90px 0 20px}
    .oneItem .item_wrap .custom-button {padding: 0 43px 0 20px}
    .oneItem .item_wrap .contact_info p.title {margin: 0 -20px 20px;}
    .oneItem .item_wrap .contact_info .link { margin: 0 -20px; }

    .oneItem .item_wrap .custom-button::before,
    .oneItem .item_wrap .contact_info p.title::before,
    .oneItem .item_wrap .contacts header::before {border-right-width: 290px}
    .oneItem .item_wrap .imgBox {height: 200px}
    .sorting .sort_box ul li,
    .sorting .title {padding: 0 20px}
    .sorting .sort_box .selected {padding-left: 20px}
    .list_wrap {margin-bottom: 70px}
    .oneItem .item_wrap .contact_info dt {width: 35%}
    .oneItem .item_wrap .contact_info dd {width: 65%}

    /********************* Aktion Page ******************************/
    .subnavigation {
      left: -251px;
    }

    h1.sk-headline {
      font-size: 35px;
    }

    h1.sk-second-headline {
      font-size: 32px;
      line-height: 36px;
    }

    h4.sk-um-headline {
      font-size: 35px;
    }

    h4.sk-um-second-headline {
      font-size: 30px;
    }

    .feature-single-headline{
      font-size: 25px;
    }

    .feature-big-headline{
      font-size: 35px;
    }

    .large-custom-button {
      font-size: 15px;
    }

    .feature-small-content {
      margin-bottom: 50px;

    }

    .feature-highlight-content {
      width: 48%;
      margin-bottom: 79px;
      font-size: 14px;
    }

    .img-berge{
      width: 173px;
      height: 31px;
    }

    .section p {
      margin-bottom: 8px;
    }
}

@media screen and (max-width:992px){
    #nav .navbar-nav > li > a {font-size: 14px;}
    .subMenu ul {padding: 10px;}
    .subMenu ul li {margin-right: 20px}
    .subMenu ul li a {font-size: 14px}
    .section {margin-bottom: 35px}
    .section header {margin-bottom: 28px}
    .section h1 {
        font-size: 30px;
        line-height: 1.1;
        margin: 0;
    }
    .section.last-section {margin-bottom: 40px}
    .custom-form h3 {margin-bottom: 18px}
    .custom-form .checks .carItem {height: 270px}
    .custom-form .input-fields .asterisk {display: none}
    .custom-form .input-fields .title + div {padding-left: 15px}
    .custom-form fieldset.agree-check {margin-bottom: 27px}
    .footerContent .copyright p {font-size: 11px}
    input[type="text"], input[type="email"] {padding: 0 16px;}
    .custom-form .dropdown-toggle {padding: 0 86px 0 16px}
    .custom-form .input-fields > div {margin-bottom: 10px}
    .list_wrap h3 {font-size: 35px}
    .oneItem .item_wrap .contact_info,
    .oneItem .item_wrap h4 {padding: 15px}
    .oneItem .item_wrap h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .oneItem .item_wrap .imgBox { height: 160px; }
    .oneItem .item_wrap .contact_info p.title,
    .oneItem .item_wrap .custom-button,
    .oneItem .item_wrap .contacts header {
        height: 52px;
        line-height: 52px;
    }
    .oneItem .item_wrap .contacts header {
        padding: 0 75px 0 15px;
        font-size: 17px;
    }
    .oneItem .item_wrap .contact_info .link a i,
    .oneItem .item_wrap .custom-button i,
    .oneItem .item_wrap .contacts header span {width: 30px; height: 30px}
    .oneItem .item_wrap .contacts header i {
        height: 35px;
        right: 30px;
        width: 45px;
    }
    .oneItem .item_wrap .custom-button {padding: 0 35px 0 15px}
    .oneItem .item_wrap .contact_info p.title {
        margin: 0 -15px 18px;
        padding: 0 15px;
        font-size: 17px;
    }
    .oneItem .item_wrap .contact_info .link {
        margin: 0 -15px;
    }
    .oneItem .item_wrap .contact_info .link a span {font-size: 14px}
    .oneItem .item_wrap .contact_info .link a i {margin: 0}
    .oneItem .item_wrap .contact_info dt,
    .oneItem .item_wrap .contact_info dd,
    .oneItem .item_wrap .contact_info {
        font-size: 14px;
        line-height: 18px;
    }
    .oneItem .item_wrap .custom-button::before,
    .oneItem .item_wrap .contact_info p.title::before,
    .oneItem .item_wrap .contacts header::before {
        border-width: 25px 215px 25px 0;
    }
    .oneItem .item_wrap .contact_info_main {margin-bottom: 18px}
    .list_wrap {margin-bottom: 25px}

    /***************************** Aktion Page ************************************/
    .section {
      margin-bottom: 30px;
    }
    h1.sk-headline {
      font-size: 30px;
    }

    h4.sk-um-headline {
      font-size: 30px;
    }

    h4.sk-um-second-headline {
      font-size: 24px;
      line-height: 36px;
    }
    .sk-sub-hero {
      left: 50.3%;
    }

    h1.sk-second-headline {
      font-size: 26px;
      line-height: 28px;
    }

    .feature-background {
      background-image: none;
    }

    .feature-on-mobile-background{
      background: url('images/mobile-bg.jpg') no-repeat center center scroll;
      position: relative;
      height: 650px;
    }

    .feature-headline {
      margin-bottom: 10px;
    }
    .feature-single-headline{
      font-size: 20px;
    }

    h1.feature-big-headline{
      font-size: 30px;
    }

    span.feature-big-headline{
      font-size: 30px;
    }

    .large-custom-button {
      margin-top: 7px;

    }
    .feature-small-headline {
      margin-top: 10px;
    }

    .feature-small-content {
      width: 100%;
      margin-bottom: 66px;
    }

    .feature-highlight-content {
      width: 100%;
      margin-bottom: 100px;
      font-size: 16px;
    }
    .img-berge{
      width: 276px;
      height: 50px;
    }

    .layout-space{
      margin-top: 30px;
    }
    /*h4.sub-headline-text-space{
      font-size: 35px;

    }*/
    .text-local-margin{
      margin-bottom: 35px;
    }

    .section p.text-margin{
      margin-bottom: 35px;
    }
}

@media screen and (max-width:767px){
    .noInMob {display: none !important;}
    /*#header {height: 55px}*/
    #header .logo {
        display: block;
        /*margin: 10px 0;*/
        /*width: 155px;*/
    }
    .subMenu {display: none}
    #banner {margin-bottom: 20px}
    .section {margin-bottom: 20px}
    .section h1 {font-size: 24px; margin-bottom: 10px}
    .custom-button {max-width: 320px}
    .custom-button:before {border-width: 34px 320px 34px 0;}
    .section header {max-height: none; margin-bottom: 20px}
    .section p:last-child {margin-bottom: 30px}
    .section.last-section {margin-bottom: 20px}
    /*.custom-form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),*/
    /*.custom-form .bootstrap-select.btn-group {width: 290px}*/
    .custom-form fieldset {margin-bottom: 20px}
    .custom-form .checks .carItem {height: 250px}
    .custom-form .checks label {margin-bottom: 20px}
    .custom-form .input-fields .title span {height: 36px}
    .custom-form .input-fields span {
        width: 100%;
    }
    #main {margin-bottom: 30px}
    .footerContent {height: auto}
    .footerContent .logo a {
        margin: 20px 0;
        width: 100%;
    }
    .footerContent .footer-nav {margin-top: 10px}
    .footerContent .copyright {margin-bottom: 10px}
    .navbar-collapse {background-color: #fff}
    .mapMain .customMap_wrap {display: none}
    .list_wrap > header {padding: 25px 0}
    .list_wrap .pull-right {float: left !important;}
    .list_wrap h3 {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 45px;
    }
    /*.sorting {width: 320px}*/
    .mapMain .mapHead {width: 80%}
    .select-map {margin: 0 -15px}
    .mapHead h1 {font-size: 25px; line-height: 30px; margin: 0 0 16px;}
    .mapHead h2 {font-size: 17px; line-height: 17px; margin-bottom: 20px; width: auto;}
    .oneItem .item_wrap h4 {
        font-size: 24px;
        line-height: 28px;
    }
    .oneItem .item_wrap .contacts header {font-size: 21px}
    .oneItem .item_wrap .contact_info dt,
    .oneItem .item_wrap .contact_info dd,
    .oneItem .item_wrap .contact_info {
        font-size: 17px;
        line-height: 21px;
    }
    .mobMap { display: none; }
    .oneItem { margin-bottom: 20px; }
    .oneItem .item_wrap .imgBox {height: 255px}
    .desktop_items {display: none}
    .mob_items {display: block}
    .interactiveContainer {width: 500px; height: 208px}
     #nav .navbar-nav > li > a {padding:10px;}


     /************************** Aktion page ******************/

     h1.sk-headline {
       margin-bottom: 0;
     }

     h1.sk-second-headline {
       font-size: 24px;
       line-height: 26px;
     }

     h1.text-margin{
       margin-bottom: 35px;
     }

     h4.sk-um-headline {
       font-size: 24px;
     }
     h4.sk-um-second-headline {
       font-size: 20px;
       line-height: 30px;
     }

     h1.feature-big-headline{
       font-size: 32px;
     }

     span.feature-big-headline{
       font-size: 32px;
     }

     .feature-headline {
       line-height: 28px;
       margin-bottom: 37px;
     }

     .feature-small-content {
       width: 100%;
       margin-bottom: 33px;
     }

     .feature-highlight-content {
       width: 100%;
       margin-bottom: 90px;
       font-size: 14px;
     }

     h1.sk-third-headline{
       font-size: 30px;
     }

     h4.sub-headline-text-space{
       font-size: 30px;
     }

     .text-local-margin{
       margin-bottom: 35px;
     }

}


/*--------------------------------------------*/
/*                  tablet                    */
/*--------------------------------------------*/
.tablet .mob_items {display: block}
.tablet .oneItem .item_wrap h4 {
    font-size: 24px;
    line-height: 28px;
}
.tablet .oneItem .item_wrap .contacts header {font-size: 21px}
.tablet .oneItem .item_wrap .contact_info dt,
.tablet .oneItem .item_wrap .contact_info dd,
.tablet .oneItem .item_wrap .contact_info {
    font-size: 17px;
    line-height: 21px;
}
.tablet .oneItem { margin-bottom: 20px; }
.tablet .oneItem .item_wrap .imgBox {height: 255px}
/*--------------------------------------------*/
/*               end tablet                   */
/*--------------------------------------------*/

@media screen and (max-width:600px){
    #main { margin-bottom: 38px; }
    #header .logo { margin: 17px 0 0; }
    .navbar-toggle { padding: 13px 11px; margin: 17px 0 0; }
    #banner { margin: 0 -15px 47px; }
    .section { margin-bottom: 47px; }
    .section.last-section { margin-bottom: 72px; }
    .section.forForm { margin-bottom: 24px; }
    .section h1 { font-size: 20px; margin-bottom: 20px; }
    .section.forForm h1 { font-size: 24px}
    .custom-button {
        font-size: 20px;
        max-width: none;
        text-align: center;
    }
    .custom-button::before {border-width: 34px 480px 34px 0;}
    .oneItem .item_wrap .custom-button::before,
    .oneItem .item_wrap .contact_info p.title::before,
    .oneItem .item_wrap .contacts header::before {
        border-width: 31px 480px 31px 0;
    }
    .custom-button i { right: 11px; top: 0; }
    .section p { font-size: 16px; margin-bottom: 12px; }

    .section h3 { font-size: 16px !important; margin-bottom: 10px !important; }
    .section dt, .section dd { font-size: 16px !important; }

    .section ul {margin-bottom: 14px}
    .specialImg {padding: 3px 8px 0 0;}
    .custom-form h3 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 32px;
    }
    .custom-form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
    .custom-form .bootstrap-select.btn-group {width: 100%}
    .row.checks { margin: 0 -5px 14px; }
    .checks .col-xs-6 {padding: 0 5px;}
    .custom-form .checks .carItem { height: 193px; }
    .custom-form .checks label {margin-bottom: 16px}
    .custom-form .checks .carItem .caption {padding: 12px 19px; margin-bottom: 18px;}
    .custom-form .agree-check .custom-check { margin-right: 8px; }
    .custom-form .checks .carItem .custom-check { width: 14px; height: 14px; }
    .custom-form .agree-check .custom-check i::after { width: 8px; height: 8px; }
    .custom-form .checks .carItem .custom-check i::after { width: 6px; height: 6px; }
    .custom-form .checks .carItem .caption_title {font-size: 12px}
    .custom-form .bootstrap-select > .dropdown-toggle,
    input[type="text"],
    input[type="email"],
    .input-style,
    .custom-form .input-fields .title span {
        font-size: 16px;
        height: 60px;
    }
    .custom-form .input-fields .title span {height: 40px}
    .custom-form fieldset.agree-check {margin-bottom: 14px}
    .custom-form .agree-check label { margin-bottom: 4px; }
    .custom-form .input-fields {margin-bottom: 26px}
    .custom-form .input-fields > div {margin-bottom: 4px}
    .custom-form .dropdown-toggle {padding: 0 70px 0 21px;}
    .custom-form .dropdown-toggle .bs-caret {width: 60px}
    input[type="text"], input[type="email"] {padding: 0 21px}
    .custom-form .input-fields .wpcf7-form-control-wrap {display: block}
    .listtField { padding-top: 18px; }
    .listtField h5 { margin-bottom: 35px; }
    .footerContent {
        margin: 0 -15px;
        background-image: url(images/footer_background_mob.jpg);
        background-position: 100% center;
    }
    .footerContent .logo a { margin: 9px 0 0; width: 66%; }
    .footerContent .footer-nav {margin-top: 0}
    .footerContent ul li { display: block; font-size: 8px; }
    .footerContent .copyright {
        margin-bottom: 3px;
        margin-top: 53px;
        padding: 0;
        text-align: right;
    }
    .footerContent .copyright p {font-size: 10px}
    .list_wrap h3 {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 32px;
    }
    .list_wrap > header { padding: 35px 0 31px; }
    .oneItem { margin-bottom: 30px; }
    .oneItem .item_wrap .contact_info, .oneItem .item_wrap h4 { padding: 25px; }
    .oneItem .item_wrap h4 { font-size: 21px; line-height: 28px; }
    .oneItem .item_wrap .imgBox { height: 243px; }
    .oneItem .item_wrap .contact_info p.title,
    .oneItem .item_wrap .custom-button,
    .oneItem .item_wrap .contacts header {
        height: 62px;
        line-height: 62px;
    }
    .oneItem .item_wrap .contacts header {font-size: 20px; padding: 0 80px 0 29px;}
    .oneItem .item_wrap .contacts header i {
        height: 40px;
        right: 40px;
        width: 50px;
    }
    .oneItem .item_wrap .contacts header span {
        height: 40px;
        right: 1px;
        width: 40px;
    }
    .oneItem .item_icon { -webkit-background-size: auto 39px; background-size: auto 39px; }
    /* .oneItem .item_wrap .custom-button {display: none} */
    .oneItem .item_wrap .contact_info dt,
    .oneItem .item_wrap .contact_info dd,
    .oneItem .item_wrap .contact_info {
        font-size: 16px;
        line-height: 21px;
    }
    .oneItem .item_wrap .contact_info_main {margin-bottom: 19px}
    .oneItem .item_wrap .contact_info p.title {margin: 0 -25px 18px}

    /********************************** Aktion Page *********************************/

    h1.sk-headline {
      font-size: 20px;
    }

    h1.sk-second-headline {
      font-size: 20px;
      line-height: 22px;
    }

    h4.sk-um-headline {
      font-size: 20px;
    }

    h4.sk-um-second-headline {
      font-size: 18px;
      line-height: 27px;
    }

    .feature-headline {
      margin-bottom: 16px;
    }

    .feature-small-content {
      margin-bottom: 48px;
    }

    h1.feature-big-headline{
      font-size: 26px;
    }

    span.feature-big-headline{
      font-size: 26px;
    }

    h1.sk-third-headline{
      font-size: 24px;
    }

    h4.sub-headline-text-space{
      font-size: 24px;
    }
}


@media screen and (max-width:479px){
    #banner { margin: 0 -15px 25px; }
    .section h1 { font-size: 16px; }
    .section h2 { font-size: 16px; }
    .section h3 { font-size: 16px !important; margin-bottom: 10px !important; }
    .section dt, .section dd { font-size: 12px !important; }
    .custom-button { font-size: 16px; }
    .section p { font-size: 12px; line-height: 15px; margin-bottom: 12px; }
    .section p:last-child { margin-bottom: 15px; }
    .section.last-section, .section { margin-bottom: 30px; }
    .section ul li { font-size: 12px; line-height: 15px; }
    .section.forForm h1 { font-size: 20px; }
    .custom-form h3 { font-size: 17px; line-height: 21px; margin-bottom: 15px; }
    .custom-form .checks .carItem .caption { padding: 9px; }
    .custom-form .checks .carItem .caption_title { font-size: 10px; }
    .custom-button::before { border-width: 34px 350px 34px 0;}
    .oneItem .item_wrap .custom-button::before,
    .oneItem .item_wrap .contact_info p.title::before,
    .oneItem .item_wrap .contacts header::before { border-width: 31px 350px 31px 0; }
    .list_wrap > header { padding: 20px 0; }
    .sorting .sort_box .selected {font-size: 13px}
    .oneItem .item_wrap .contact_info, .oneItem .item_wrap h4 { padding: 15px; }
    .oneItem .item_wrap h4 { font-size: 17px; line-height: 21px; }
    .oneItem .item_wrap .imgBox { height: 205px; }
    .oneItem .item_wrap .contact_info p.title { margin: 0 -15px 18px; }
    .oneItem .item_wrap .contact_info dt, .oneItem .item_wrap .contact_info dd, .oneItem .item_wrap .contact_info { font-size: 14px; line-height: 18px; }

    /********************************************** Aktion Page **************************************/
    h1.sk-headline {
      font-size: 16px;
    }

    h1.sk-second-headline {
      font-size: 20px;
      line-height: 20px;
    }

    h4.sk-um-headline {
      font-size: 16px;
    }

    h4.sk-um-second-headline {
      font-size: 16px;
      line-height: 22px;
    }
    h5.sk-um-sub-headline{
      font-size: 16px;
    }

    .feature-headline {
      line-height: 0px;
    }

    h1.sk-third-headline{
      font-size: 20px;

    }
    h4.sub-headline-text-space{
      font-size: 20px;

    }

    .feature-small-content {
      margin-bottom: 24px;
    }
}


/* ==========================================================================
    3 Aktion Seite: Media query
============================================================================== */

  /******** Custom, iPhone Retina ***********/
@media only screen and (max-width : 420px) {

  .single-text-pull {
    margin-left: 87px;
  }
  .sk-hero {
    left: 46.7%;
  }
  .sk-ak-hero {
    left: 4.7%;
  }
  .sk-sub-hero {
    left: 48.3%;
  }
  h4.sk-um-headline {
    font-size: 14px;
  }

  h4.sk-um-second-headline {
    font-size: 14px;
    line-height: 20px;
  }

  .sk-um-hero {
    left: 5%;
  }
  .large-custom-button {
    margin-top: 13px;
  }

  .feature-headline {
    margin-bottom: 12px;
  }

  .feature-small-headline {
    margin-top: 11px;
    font-size: 14px;
  }


  .feature-small-content {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .feature-highlight-content {
    margin-bottom: 46px;
  }

  .feature-single-headline {
    font-size: 19.12px;
  }

  h1.feature-big-headline {
    font-size: 22px;
    margin-bottom: 10px;
  }

  span.feature-big-headline {
    font-size: 22px;
  }

  h1.sk-third-headline{
    font-size: 16px;
  }
  h4.sub-headline-text-space{
    font-size: 16px;
  }

  }

  /************ Custom, iPhone Retina *********/
@media only screen and (max-width : 375px) {
  .sk-ak-hero {
    left: 5.7%;
  }

  .sk-sub-hero {
    left: 43.3%;
    top: 75%;
  }

  .sk-um-hero {
    left: 6%;
  }

  .sk-um-sub-hero {
    top: 78%;
    left: 67.6%;
  }

  h4.sk-um-second-headline {
    font-size: 14px;
    line-height: 20px;
  }

  h5.sk-um-sub-headline{
    font-size: 14px;
  }

  h4.sk-um-headline {
    font-size: 14px;
  }
  span.single-text-pull {
    margin-left: 24px;
  }

  h1.feature-big-headline {
    font-size: 26px;
  }

  span.feature-big-headline {
    font-size: 24px;
  }

  h1.sk-second-headline {
    font-size: 16px;
  }

  .feature-headline {
    margin-bottom: 7px;
  }

  .feature-small-content {
    margin-bottom: 8px;
    font-size: 13px;
  }

  .feature-highlight-content {
    margin-bottom: 62px;
    font-size: 12px;
  }

  .feature-small-headline {
    margin-top: 4px;
  }

  h1.sk-third-headline{
    font-size: 13px;

  }

  h4.sub-headline-text-space{
    font-size: 14px;

  }

}


/************ Custom, iPhone Retina *********/
@media only screen and (max-width : 320px) {
  .sk-hero {
    left: 43.7%;
  }

  .sk-sub-hero {
    left: 41.3%;
    top: 75%;
  }

  h4.sk-um-headline {
    font-size: 14px;
  }

  h1.sk-second-headline {
    font-size: 14px;
    line-height: 16px;
  }

  h1.sk-headline {
    font-size: 14px;
  }

  h5.sk-um-sub-headline{
    font-size: 13px;
  }

  .large-custom-button {
    margin-top: 3px;
  }

  .feature-small-headline {
    line-height: 22px;
    margin-top: 6px;
    margin-bottom: 18px;
    font-size: 12px;
  }

  .feature-single-headline {
    font-size: 15.12px;
  }

  h1.feature-big-headline {
    font-size: 16px;
  }

  span.feature-big-headline {
    font-size: 16px;
  }

  .feature-small-content {
    margin-bottom: 28px;
    font-size: 12px;
  }

  .feature-highlight-content {
    font-size: 11px;
  }

  .xtra-bold-text {
    font-size: 12px;
  }


  }



/******************** Address Box **************/

  .adressbox{
  	width:218px;
  	height:auto;
  	font-size:11px;
  	text-align:left;
  	float:left;
  	margin-left:0px;
  	margin-right:10px;
  	border-bottom:#666666;
  	padding:0 0 20px 0 ;

  	}

  .adressbox a{
  	color:#000000;
  	}

  .adressbox_imp{
  	width:218px;
  	height:auto;
  	font-size:12px;
  	text-align:left;
  	float:left;
  	margin-left:0px;
  	margin-right:10px;
  	border-bottom:#666666;
  	padding-bottom:20px;

  	}

  .adressbox_imp a{
  	color:#000000;
  	}
